<%= render partial: 'example_queries' %>
<h4>Number of PRs: <%= pull_requests.length %></h4>
<h2>Pull requests by person</h2>
<%= pie_chart pull_requests.group(:merged_by).count, download: true %>
<h2>Pull requests by milestone</h2> 
<%= pie_chart pull_requests.group(:milestone).count %>
<h2>Pull requests merged over time<h2>
<%= line_chart pull_requests.group_by_week(:pr_merged_at).count  %>
