<h4><%=t 'reports.number_of_prs' %>: <%= pull_requests.total_count %></h4>
<h2><%=t 'reports.pull_requests_by_person' %></h2>
<%= pie_chart pull_requests.group(:merged_by).count, download: true %>
<h2><%=t 'reports.pull_requests_by_milestone' %></h2>
<%= pie_chart pull_requests.group(:milestone).count %>
<h2><%=t 'reports.pull_requests_merged_over_time' %><h2>
<%= line_chart pull_requests.group_by_week(:pr_merged_at).count  %>
