<!DOCTYPE html>
<html>
  <head>
    <title>GithubAnalysis</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div id="layout">
      <%= render 'menu/menu' %>

      <div id="main">
        <p id="notice"><%= flash[:notice] %></p>
        <p id="alert"><%= flash[:alert] %></p>
        <%= yield %>
      </div>
    </div>
        
    <%= javascript_importmap_tags %>
  </body>
</html>
